body {
 background-color: #1B0112;
}

h1 {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    display: block;
    margin-bottom: 20px;
    text-align: center;
}
hr {
    height: 5px;
    border: none;
    border-radius: 2px;
    background-color: #E44EC3;
}

p {
    text-align: center;
    color: white;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
}

#mini-header {
    margin-top: 20px;
    margin-bottom: -10px;
}

.card {
    display: flex;
    flex: wrap;
    justify-content: space-around;
    margin: 20px;
    flex-flow: row wrap;
    align-content: center;
}

#first-card, #second-card, #third-card, #fourth-card, #fifth-card, #sixth-card,  #seventh-card, #eighth-card, #ninth-card{   
    background-color: #5A0834;
    padding: 10px;
    border-radius: 5px;
    width: 400px;
    height: 600px;
}

.image {
    width: 350px;
    border-radius: 5px;
}

.caption {
    width: 350px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #9D0B51;
}

footer {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

@media (max-width: 390px) {
    #first-card, #second-card, #third-card, #fourth-card, #fifth-card, #sixth-card,  #seventh-card, #eighth-card, #ninth-card{   
        width: 300px;
        height: 450px;
    }

    .image {
        width: 260px;
        border-radius: 5px;
    }
 
    .caption {
        width: 260px;
    }
}

